<!DOCTYPE html>
<html>

    <head>
        <title>aharasymiw | passtimes</title>
        <link rel="stylesheet" href="../styles/style.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        <script src="../scripts/layout_scripts.js"></script>
        <script src="../scripts/content_script.js"></script>
    </head>

    <body>
        <header>
        </header>

        <ul>
            <li>D&D</li>
            <li>Toastmasters</li>
            <li>Woodworking</li>
        </ul>

        <footer>
        </footer>
    </body>

</html>
