<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VS Code Tips</title>
    <link rel="stylesheet" href="vs_code_tips.css">
  </head>

  <body>

    <h1>VS Code Tips</h1>

    <h2>Extensions</h2>

    <details>
      <summary>
        <h3>Must Have</h3>
      </summary>
      <br>
      <a href="https://marketplace.visualstudio.com/items?itemName=quick-lint.quick-lint-js">
        quick-lint-js
      </a>
      <br>
      <a href="https://marketplace.visualstudio.com/items?itemName=ritwickdey.LiveServer">
        Live Server
      </a>
      <br>
      <br>
    </details>

    <details>
      <summary>
        <h3>Nice to Have</h3>
      </summary>
      <br>
      <a href="https://marketplace.visualstudio.com/items?itemName=voldemortensen.rainbow-tags">
        Rainbow Tags
      </a>
      <br>
      <a href="https://marketplace.visualstudio.com/items?itemName=vincaslt.highlight-matching-tag">
        Highlight Matching Tag
      </a>
      <br>
      <br>
    </details>

    <h2>Settings</h2>

    <details>
      <summary>
        <h3>Must Have</h3>
      </summary>
      <img src="images/vs_code_tips/auto_save.png" alt="An image showing the auto save setting for VS Code." height=100px width=400px>
      <br>
      <img src="images/vs_code_tips/format_on_save.png" alt="An image showing the format on save setting for VS Code." height=85px width=670px>
    </details>

    <details>
      <summary>
        <h3>Nice to Have</h3>
      </summary>
      <img src="images/vs_code_tips/bracket_pairs.png" alt="An image showing the bracket pairs setting for VS Code." height=100px width=400px>
      <br>
      <img src="images/vs_code_tips/bracket_pairs_horizontal.png" alt="An image showing the bracket pairs horizontal setting for VS Code." height=100px width=520px>
      <br>
      <img src="images/vs_code_tips/compact_folders.png" alt="An image showing the compact folders setting for VS Code." height=65px width=575px>

    </details>

  </body>

</html>
